# Rename to server.env and replace with your authentication information
# other configuration is in resources/META-INF/microprofile-config.properties
MP_MESSAGING_CONNECTOR_LIBERTY_KAFKA_SASL_JAAS_CONFIG=org.apache.kafka.common.security.scram.ScramLoginModule required username="<username>" password="<password>";